<link rel="import" href="../../paper-input/paper-input.html">  
<link rel="import" href="../../paper-time-input/paper-time-input.html">

<!--
i can't use paper-input with this validation tactic
but i might be able to add there styles
<link rel="import" href="./validatable-input.html">
<link rel="import" href="./time-validate.html">
-->
<dom-module id="time-input">
  <style>
    :host{

      min-width:125px;
      width: 15vw;
      max-width:40%;

      /*i think is because i'm mixing flexbox and float
      float:left;
      */
      padding-left: 2.5%;
      padding-right: 2.5%;
      padding-top: 5px;
    };
  </style>
  <template>

        <div id="supportDate">
          <paper-input  id="paperInput" label="[[label]]" 
                        required  type="time"  disabled="[[!enabled]]" bind-value="{{time}}"
                        error-message="numbers only!" invalid="{{invalid}}"> </paper-input>
        </div>
        <div id="dontSupportDate">
          <paper-time-input id="paperTimeInput" label="[[label]]"  format=24
                            disabled="[[!enabled]]" value="{{time}}"
                            ></paper-time-input>
          <p hidden$="[[!invalid]]">
            invalid
          </p>
        </div>
        <p>[[time]]</p>
  </template>
  <script>
    Polymer({
        is: 'time-input',
        properties:{
          enabled:{
            type: Boolean,
            value: false,
          },
          time:{
            type: String,
            notify: true,
            observer: 'check',
            value: "00:00"
          },
          invalid:{
            type: Boolean,          
            notify: true,
            value: false
          },
          label:{
          	type: String,
          	value: ""
          }

        },
        ready: function(){
          var input = document.createElement('input');
          input.setAttribute('type','date');

          var notADateValue = 'not-a-date';
          input.setAttribute('value', notADateValue); 

          supported = (input.value === notADateValue);
          if (supported == true){
            this.$.supportDate.innerHTML = ""
          }
          else{
             this.$.dontSupportDate.innerHTML = ""
          }
        },
        check: function(){
            /*thou we binded the input with bind-value it doesn't set it the first time
            so you have to bind it when the element is attached to the dom*/
           this.$.paperInput.value = this.time;
           /*
           I can set all my stuff here for changing the time.
           */ 
           this.$.paperTimeInput.hour = 5
        }

        
        
    });
  </script>
</dom-module>