<link rel="import" href="../platinum-sw/platinum-sw-elements.html">
<link rel="import" href="./app-elements/app-layout.html">
<link rel="import" href="./utility-el/my-firebase-app.html">

<!--
<sound-rebound> 

  is a container for my app.
It doens't do anything more then hold the starting elements
that my application needs.  The purpose for <sound-reound>
is to allow me to bower install sound-rebound into this into another 
project so that i can push it to firebase.com

-->
<dom-module id="sound-rebound">
  <template>
    <style>
    </style>
    <!--
    <platinum-sw-register
    auto-register
    skip-waiting
    clients-claim
    reload-on-install
    href="sw-import.js">
       
        <platinum-sw-cache
          default-cache-strategy="networkFirst">
        </platinum-sw-cache>
    </platinum-sw-register>
    -->
    <my-firebase-app></my-firebase-app> 
    <app-layout></app-layout>

  </template>
  <script>
    Polymer({
      is: 'sound-rebound'
    });
  </script>
</dom-module>
